body {
	margin: 0;
	padding-right: 64px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.sidebar {
	width: 245px;
	border-style: solid;
	border-right-width: 1px;
	border-color: "#8E8E8E";
	padding: 8px 12px 20px 12px;
}

.sliding-panel {
	margin-left: 245px;
}

.bottombar {
	height: 49px;
	border-style: solid;
	border-top-width: 1px;
	border-color: "#8E8E8E";
}

.header-mobile {
	height: 60px;
	border-style: solid;
	border-bottom-width: 1px;
	border-color: "#8E8E8E";
	padding: 0px 16px;
	z-index: 100;
}

.mobile-content {
	margin-top: 60px;
}

.header-mobile input {
	width: 236px;
	height: 36px;
	padding: 3px 16px;
	margin-right: 12px;
	background-color: #efefef;
	border-radius: 8px;
	color: "#8E8E8E";
}

.sidebar-shrink {
	position: fixed;
	width: 72px;
	border-style: solid;
	border-width: 1px;
	border-color: "#8E8E8E";
	padding: 8px 12px 20px 12px;
}

.sidebar-list h1 {
	font-size: 16px;
	padding-left: 16px;
}

.sidebar-list div {
	padding: 12px;
	margin: 2px 0px;
}

.infobar {
	width: 319px;
	height: 512px;
	margin: 0px 0px 30px;
	padding: 30px 0px 0px;
}

.infobar-profile-picture {
	/* height: 56px; */
	width: 56px;
	border-radius: 50%;
}

.font-14 {
	font-size: 14px;
}

.img-small {
	width: 32px;
	height: 32px;
	border-radius: 50%;
}

.sidebar-icon {
	font-size: 24px;
}

.sidebar-header {
	/* margin: 4px 0px; */
	padding: 12px;
}

.sidebar-footer {
	height: 56px;
	padding: 12px;
	margin: 2px 0px;
}

.profile-icon {
	height: 24px;
	border-radius: 50%;
}

.post {
	border-bottom-width: 1px;
	padding-bottom: 20px;
}

.main {
	/* margin: 0 39.5px; */
	padding: 4px 0px 0px;
	position: relative;
}

.content {
	width: 470px;
	margin-top: 16px;
	padding-right: 32px;
	margin-left: 245px;
}

.story-carousel {
	max-height: 85px;
	overflow: hidden;
}

.story-container {
	width: 66px;
	height: 66px;
	border-style: solid;
	border-width: 2px;
	background: linear-gradient(rgb(231, 0, 231), rgb(255, 115, 0));
	border-radius: 50%;
}

.story-arrow-icon {
	font-size: 18 px;
}

.story-profile-picture {
	/* height: 56px; */
	width: 56px;
	border-radius: 50%;
	border-width: 1px;
	border-style: solid;
}

.story-username {
	font-size: 12px;
}

.logo {
	width: 220px;
	height: 92px;
}

.modal {
	font-family: arial;
}

.modal-mobile {
	position: fixed;
	height: 100%;
	width: 60%;
	z-index: 1040;
	top: 50%;
	left: 50%;
	background-color: white;
	border-radius: 9px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	transform: translate(-50%, -50%);
}

.modal {
	position: fixed;
	height: 90%;
	width: 80%;
	z-index: 1040;
	top: 50%;
	left: 50%;
	background-color: white;
	border-radius: 3px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	transform: translate(-50%, -50%);
	overflow-y: scroll;
}

.modal .description {
	border-left-width: 1px;
}

.modal-header {
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.modal-footer {
	border-top-style: solid;
	border-top-width: 1px;
	margin-top: 2px;
	background-color: white;
}

.backdrop {
	position: fixed;
	z-index: 1040;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000;
	opacity: 0.5;
}

.comment-box {
	border-top-width: 1px;
}

.comment-box input {
	outline: none;
}

.modal-example {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
